<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->

    <PharmacyList :pharmacys="pharmacys" />
  </div>
</template>

<script>
// @ is an alias to /src
import PharmacyList from "@/components/PharmacyList.vue";
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";
import Pharmacys from "../pharmacy.json";

Vue.use(VueAxios, axios);

const url =
  "https://raw.githubusercontent.com/kiang/pharmacies/master/json/points.json";
export default {
  name: "Home",
  data() {
    return {
      pharmacys: Pharmacys.features
    };
  },
  methods: {
    search() {},
    getData() {
      const vm = this;

      Vue.axios
        .get(url)
        .then(function(response) {
          let data = response.data.features ? response.data.features : [];
          vm.pharmacys = data;
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  },
  components: {
    PharmacyList
  },
  mounted() {
    // this.getData();
  }
};
</script>
