<template>
  <div class="pharmacyList">
    <div class="search_box">
      <input
        type="text"
        class="control"
        id="address"
        name="address"
        placeholder="請輸入地址或區域"
        v-model="searchStr"
        autofocus
        required
      />
      <button type="submit" class="searchbtn" @click="search">搜尋</button>
    </div>
    <div class="wrap">
      <Pharmacy
        class="pharmacy"
        v-for="(pharmacy, index) in showed_pharmacys"
        :key="index"
        :pharmacy="pharmacy"
      ></Pharmacy>
    </div>
  </div>
</template>

<script>
import Pharmacy from "@/components/Pharmacy.vue";

export default {
  data() {
    return {
      searchStr: "",
      showed_pharmacys: []
    };
  },
  props: {
    pharmacys: { type: Array }
  },
  components: {
    Pharmacy
  },
  created() {
    console.log(this.pharmacys[0].type);
    this.showed_pharmacys = this.pharmacys;
  },
  methods: {
    search() {
      var searchStr = this.searchStr;
      if (searchStr == "") {
        this.showed_pharmacys = this.pharmacys;
        return;
      }
      this.showed_pharmacys = this.pharmacys.filter(function(obj) {
        var address = obj.properties.address;
        return address.indexOf(searchStr) >= 0;
      });
      console.log(this.showed_pharmacys);
    }
  }
};
</script>

<style>
.pharmacyList {
  padding: 20px;
}
.search_box {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.control {
  width: 300px;
}
.control:focus {
  border-color: #6265e4 !important;
  box-shadow: 0 0 5px var(--color-green) !important;
}

.searchbtn {
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px 7px 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--color-green);
  color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.searchbtn:hover {
  cursor: pointer;
  background-color: var(--color-green);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}
.wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
</style>