<template>
  <div class="pharmacy">
    <div class="border">
      <div class="man-mask" :class="mask_man_bg_class">
        <h4>成人口罩</h4>
        <span class="mask_num">{{pharmacy.properties.mask_adult}}</span>
        <span>片</span>
      </div>
      <div class="child-mask" :class="mask_child_bg_class">
        <h4>兒童口罩</h4>
        <span class="mask_num">{{pharmacy.properties.mask_child}}</span>
        <span>片</span>
      </div>
      <div class="pharmacy">
        <span class="pharmacy-name">{{pharmacy.properties.name}}</span>
        <span class="pharmacy-is-open">營業中</span>
        <!-- <span class="dis"></span> -->
      </div>
      <div class="info">
        <span class="info-detail">地址：{{pharmacy.properties.address}}</span>
        <a :href="'https://www.google.com.tw/maps/search/' + pharmacy.properties.address">
          <u class="map-btn">於地圖查看</u>
        </a>
      </div>
      <div class="info">
        <span class="info-detail">電話：{{pharmacy.properties.phone}}</span>
      </div>
      <div class="info">
        <span class="info-detail">備註：{{pharmacy.properties.note}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["pharmacy"],
  created() {
    if (this.pharmacy.properties.mask_adult >= 30) {
      this.mask_man_bg_class = "mask_much";
    } else if (this.pharmacy.properties.mask_adult > 0) {
      this.mask_man_bg_class = "mask_less";
    } else {
      this.mask_man_bg_class = "mask_none";
    }

    if (this.pharmacy.properties.mask_child >= 30) {
      this.mask_child_bg_class = "mask_much";
    } else if (this.pharmacy.properties.mask_child > 0) {
      this.mask_child_bg_class = "mask_less";
    } else {
      this.mask_child_bg_class = "mask_none";
    }
  },
  data() {
    return {
      mask_man_bg_class: "",
      mask_child_bg_class: ""
    };
  },
  computed() {}
};
</script>

<style>
.border {
  display: flex;
  width: 350px;
  height: 300px;
  padding: 16px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px lightgray;
  margin-bottom: 20px;
  justify-content: space-around;
  align-content: flex-start;
  flex-flow: row wrap;
  overflow: auto;
}
.man-mask {
  display: flex;
  width: 140px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(255, 140, 0);
  /* background-color: #10787A;6F777C;FD7E12 */
  display: block;
  padding: 16px;
}

.man-mask h4 {
  color: white;
}
.man-mask span {
  color: white;
}
.man-mask .mask_num {
  font-weight: bold;
  font-size: 30px;
}

.child-mask {
  display: flex;
  width: 140px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(255, 140, 0);
  /* background-color: #10787A;6F777C;FD7E12 */
  display: block;
  padding: 16px;
}

.child-mask h4 {
  color: white;
}
.child-mask span {
  color: white;
}
.child-mask .mask_num {
  font-weight: bold;
  font-size: 30px;
}
.pharmacy {
  justify-content: flex-start;
}
span.pharmacy-name {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  display: inline-block;
}
span.pharmacy-is-open {
  font-size: 16px;
}
.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

span.info-detail {
  font-size: 12px;
}
u.map-btn {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

.mask_much {
  background-color: var(--color-green);
}

.mask_less {
  background-color: var(--color-orange);
}

.mask_none {
  background-color: var(--color-gray);
}
</style>